# Generate a random key to encrypt the login password
SECRET_KEY=kjgfduy7gbv5rdyhsolakmvb89ks320khf6g1mmksjahdjf
# Login credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
AWS_REGION=us-east-1

# Git Repository address
DEFAULT_TERRAFORM_REPO=https://github.com/your/repo.git
# Directory to store repo locally
REPO_BASE_DIR=./repos
# Sub Directory inside the project for terraform files
TERRAFORM_WORKDIR=aws-infra
